<ion-view title="Login" hide-nav-bar="true" id="page6">
    <ion-content padding="true" style="background: url(img/JDm5dh3oSY2IRNRQgGYk_DSC03482.JPG) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div>
            <img src="img/Vgdobfc8T0GHEPHTSVFf_logo mangan s.png" width="25%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 26px;"></div>
        <form id="login-form3" class="list ">
            <h1 id="login-heading3" style="color:#FFFFFF;text-align:center;">MANGAN</h1>
            <div class="spacer" style="width: 300px; height: 40px;"></div>
            <ion-list id="login-list4">
                <label class="item item-input " id="login-input12">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input13">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a id="login-button7" class=" button button-balanced  button-block " ui-sref="mangan.restorans">Log in</a>
        </form>
    </ion-content>
</ion-view>